{% extends "base.html" %}

{% block content %}
	<section id="banner">

    <!-- Slider -->

        <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
      <!-- Overlay -->
          <div class="overlay"></div>

          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#bs-carousel" data-slide-to="1"></li>
            <li data-target="#bs-carousel" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item slides active">
              <div class="slide-1"></div>
              <div class="hero">
                <hgroup>
                    <h2>Построение и оптимизация корпоративного казначейства</h2>
                </hgroup>
              </div>
            </div>
            <div class="item slides">
              <div class="slide-1"></div>
              <div class="hero">
                <hgroup>
                    <h2>Управление денежными потоками</h2>
                </hgroup>
              </div>
            </div>
            <div class="item slides">
              <div class="slide-1"></div>
              <div class="hero">
                <hgroup>
                    <h2>Управление финансовыми рисками</h2>
                </hgroup>
              </div>
            </div>
            <div class="item slides">
              <div class="slide-1"></div>
              <div class="hero">
                <hgroup>
                    <h2>Управление оборотным капиталом</h2>
                </hgroup>
              </div>
            </div>
            <div class="item slides">
              <div class="slide-1"></div>
              <div class="hero">
                <hgroup>
                    <h2>Банковские продукты</h2>
                </hgroup>
              </div>
            </div>
            <div class="item slides">
              <div class="slide-1"></div>
              <div class="hero">
                <hgroup>
                    <h1>Обучение персонала</h1>
                </hgroup>
              </div>
            </div>
          </div>
        </div>

    <!-- End slider -->


	</section>
	<section id="content"> 
        <div class="container">
                <div class="row">
                <div class="col-md-12">
                    <div class="aligncenter" style="font: Roboto; text-align: justify">{{ gettext('МЫ ПОМОГАЕМ КОМПАНИЯМ ПОСТРОИТЬ СОВРЕМЕННОЕ КАЗНАЧЕЙСТВО, Т.Е.
                        СИСТЕМУ УПРАВЛЕНИЯ ДЕНЕЖНЫМИ ПОТОКАМИ, ФИНАНСОВЫМИ РИСКАМИ И
                        ОБОРОТНЫМ КАПИТАЛОМ, ЭФФЕКТИВНО ИСПОЛЬЗУЮЩУЮ ФИНАНСОВЫЙ И
                        ЧЕЛОВЕЧЕСКИЙ КАПИТАЛ, С УЧЕТОМ СПЕЦИФИКИ КОМПАНИИ И НА ОСНОВЕ
                        ЛУЧШИХ МЕЖДУНАРОДНЫХ И РОССИЙСКИХ ПРАКТИК.') }}
                        <br>
                        <br>
                        <h3 style="text-align: center">НАПРАВЛЕНИЯ НАШЕЙ РАБОТЫ</h3>
                    </div>
                    <br/>
                </div>
            </div>

         <div class="row">
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks material-icons">account_balance</i>
                    <div class="info-blocks-in">
                        <h3>{{ gettext('Построение/оптимизация системы управления денежными потоками, финансовыми рисками и оборотным капиталом') }}</h3>
                        <p style="text-align: justify">{{ gettext('Изучение
                            специфики компании, диагностика, разработка индивидуальной модели, план
                            трансформации и внедрение') }}
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks material-icons">domain</i>
                    <div class="info-blocks-in">
                        <h3>{{ gettext('Банковские продукты') }}</h3>
                        <p style="text-align: justify">{{ gettext('Независимый от банков консалтинг по банковским продуктам - транзакционные
                            продукты, продукты финансового рынка, хеджирование, кредитные продукты') }}
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <i class="icon-info-blocks material-icons">speaker_notes</i>
                    <div class="info-blocks-in">
                        <h3>{{ gettext('Обучение персонала')}}</h3>
                        <p style="text-align: justify">{{ gettext('Тренинги по основным функциям казначейств и
                            банковским продуктам') }}
                        </p>
                    </div>
                </div>
            </div>
                <a href="/services/" class="btn btn-primary waves-effect waves-dark center-block" style="height: 40px; width: 180px; margin-bottom: 6%;">Наши услуги</a>
        </div>
	</section>
	
	<section class="section-padding gray-bg">
		<div class="container">
			<div class="row">
{#				<div class="col-md-6 info-blocks">#}
{#					<div class="section-title text-center">#}
{#						<h4 style="text-align: justify">{{ gettext('Наша команда состоит из высококомпететных профессионалов,#}
{#						    приобретших уникальные знания и опыт за десятки лет работы в ведущих международных#}
{#						    банках мира')}}#}
{#                        </h4>#}
{#					</div>#}
{#                    <hr>#}
{#				</div>#}

                <div class="col-md-12 info-blocks">
					<div class="about-text">
                        <p style="text-align: justify">Как отличить юриста-профессионала от псевдо-юриста?
                            В нашей стране - адвокат - это не просто название.
                            Это подтверждение самой высокой квалификации юриста.
                            Выбирая нашу компанию, вы доверяете настоящим профессионалам своего дела, людям не знающих
                            поражений.
                        </p>
					</div>
				</div>
			</div>
            <a href="/about/" class="btn btn-primary waves-effect waves-dark center-block" style="height: 40px; width: 180px; align-content: center">Наша команда</a>
		</div>
	</section>	  

	<div class="about home-about">
				<div class="container">
						
						<div class="row">
							<div class="col-md-4">
								<div class="block-heading-two">
									<h3><span>{{ gettext('Последние новости') }}</span></h3>
								</div>		
								<!-- Accordion starts -->
							  <ul class="collapsible" id="accordionSection" data-collapsible="accordion">
								<li>
								  <div class="collapsible-header active"><i class="material-icons">filter_drama</i>Развитие финансового рынка (ДРФР)</div>
								  <div class="collapsible-body"><p><a href="https://www.cbr.ru/finmarket/development/" target="_blank">Развитие финансового рынка (ДРФР)</a> осуществляет работу, направленную на повышение эффективности и..</p></div>
								</li>
								<li>
								  <div class="collapsible-header"><i class="material-icons">place</i>Банк России сегодня</div>
								  <div class="collapsible-body"><p><a href="https://www.cbr.ru/today/" target="_blank">Банк России сегодня</a> Статьей 75 Конституции Российской Федерации установлен особый конституционно-правовой статус ..</p></div>
								</li>
								<li>
								  <div class="collapsible-header"><i class="material-icons">whatshot</i>Эмитенты эмиссионных ценных</div>
								  <div class="collapsible-body"><p><a href="https://www.cbr.ru/finmarket/issue/" target="_blank">С 16 сентября 2017 года изменяются</a> параметры, по которым эмитенты эмиссионных ценных бумаг ..</p></div>
								</li>
							  </ul>
														 <!-- Accordion ends -->
								
							</div>


                            <div class="col-md-4">
								<div class="block-heading-two">
									<h3><span>{{ gettext('Индикаторы рынков')}}</span></h3>
								</div>
								<!-- Accordion starts -->
							  <ul class="collapsible" id="accordionSection" data-collapsible="accordion">
								<li>
								  <div class="collapsible-header active"><i class="material-icons">filter_drama</i>База данных по курсам валют</div>
								  <div class="collapsible-body"><p><a href="https://www.cbr.ru/currency_base/" target="_blank">База данных по курсам валют с возможностью выбора динамики изменения курса вылют</a></p></div>
								</li>
								<li>
								  <div class="collapsible-header"><i class="material-icons">place</i>Официальные курсы Госбанка</div>
								  <div class="collapsible-body"><p><a href="https://www.cbr.ru/currency_base/GosBankCurs.aspx" target="_blank">Официальные курсы Госбанка СССР иностранных валют по отношению к рублю</a></p></div>
								</li>
								<li>
								  <div class="collapsible-header"><i class="material-icons">whatshot</i>Драгоценные металлы</div>
								  <div class="collapsible-body"><p><a href="https://www.cbr.ru/hd_base/metall/" target="_blank">Драгоценные металлы. Учетные цены на аффинированные драгоценные металлы а так же котировки</a></p></div>
								</li>
							  </ul>
														 <!-- Accordion ends -->

							</div>

							
							<div class="col-md-4">
								<div class="block-heading-two">
									<h3><span>{{ gettext('Отзыв') }}</span></h3>
								</div>	
								     <div class="testimonials">
										<div class="active item">
										  <blockquote><p>ООО «Я и Яко» выражает благодарность Юридическому центру «MYfinconsulting» за квалифицированное представительство в Арбитражном суде Московского округа.</p></blockquote>
										  <div class="carousel-info">
											<img alt="" src="{{ url_for ('static', filename='img/team4.jpg')}}" class="pull-left">
											<div class="pull-left">
											  <span class="testimonials-name">Александр Ивлеев</span>
											  <span class="testimonials-post">{{ gettext('Технический директор') }}</span>
											</div>
										  </div>
										</div>
									</div>
							</div>
						</div>
						<br>
                </div>

    </div>

{% endblock %}

