{% extends 'base.html' %}

{% block content %}

    <section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Услуги</h2>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
		<div class="container content">
        <!-- Service Blocks -->

            <div class="row" style="margin-bottom: 0">
                <div class="col-md-12">
                    <div class="about-logo">
                        <h3 style="text-align: center">Наши<span class="color"> услуги</span></h3>
                        <p style="text-indent: 30px; font-size: 16px">Мы помогаем компаниям построить современное казначейство, т.е.  систему
                            управления денежными потоками, финансовыми рисками и оборотным капиталом,
                            эфективно использующую финансовый и человеческий капитал, с учётом специфики
                            компания и на основе лучших международных и российских практик.</p>
                    </div>
                </div>
            </div>

<!-- Services Blocks -->
        <div class="row">
                <div class="skill-home">
                    <div class="skill-home-solid clearfix">
                        <div class="col-md-12 text-center">
                            <span class="icons c1" style="border: solid 2px #1891EC"><i class="fa fa-building-o"></i></span>
{#                            <div class="box-area" style="margin-left: 0; margin-right: 0">#}
                                <h3 style="font-size: 180%">Построение/оптимизация системы управления денежными
                                    потоками, финансовыми рисками и оборотным капиталом
                                </h3>
                                <div class="row">
                                    <div class="skill-home-solid clearfix">
                                        <div class="col-md-4">
                                            <div class="box-area" style="border: solid 1px #1891EC">
                                                <h4>Изучение специфики компании</h4>
                                                <p>1. Экосистема (отрасль, география, клиенты, поставщики, законодательство и т.п.)</p>
                                                <p>2. Бизнес-архитектура (производственная модель, торговая модель, модель
                                                    казначейства и модель управления оборотным капиталом и др.)</p>
                                                <p>3. Корпоративное управление: распределение функций и ответственности внутри
                                                    компании (стратегия, политики, ключевые показатели эффективности,
                                                    организационная структура, процедуры, система контроля)</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="box-area" style="border: solid 1px #1891EC">
                                                <br>
                                                <br>
                                                <br>
                                                <p style="font-size: 16px">Диагностика текущего состояния системы управления денежными
                                                    потоками и ликвидностью (классификация денежных потоков, риск ликвидности, дочерние
                                                    компании, денежная позиция, платежи, прогнозирование, концентрация, физический и
                                                    виртуальный пулинг, инвестирование, неттинг, внутренний банк)
                                                </p>
                                                <br>
                                                <br>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="box-area" style="border: solid 1px #1891EC">
                                                <br>
                                                <br>
                                                <br>
                                                 <p style="font-size: 16px">Диагностика текущего состояния системы управления оборотным капиталом
                                                    (финансовый, циклический и операционный аспекты, методы измерения, связь с
                                                    ликвидностью, кредиторская и дебиторская задолженность, платежи, фабрики
                                                    платежей и общие центры обслуживания)
                                                </p>
                                                <br>
                                                <br>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="skill-home-solid clearfix">
                                        <div class="col-md-4">
                                            <div class="box-area" style="border: solid 1px #1891EC">
                                                <p>Диагностика текущего состояния системы управления финансовыми рисками
                                                    (виды рисков - риск ликвидности, риск банка-контрагента, процентный, валютный,
                                                    товарный, риск поставщика, риск покупателя, операционный риск и др., лимиты,
                                                    мониторинг, моделирование и сценарный анализ, инструменты управления
                                                    рисками, хеджирование, заключение сделок, валютная переоценка)
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="box-area" style="border: solid 1px #1891EC">
                                                <br>
                                                <p style="font-size: 16px">Диагностика текущего состояния технологической инфраструктуры (казначейская
                                                    система, система управления ресурсами предприятия/бухгалтерская система,
                                                    облачные решения, системы распределенного реестра (блокчейн), каналы связи с
                                                    банками, торговые системы, информационные системы)
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="box-area" style="border: solid 1px #1891EC">
                                                <br>
                                                <br>
                                                 <p style="font-size: 16px">Разработка индивидуальной концептуальной целевой модели системы или
                                                    отдельных блоков управления денежными потоками, финансовыми рисками и
                                                    оборотным капиталом с учетом специфики компании
                                                </p>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="margin-bottom: -2%">
                                    <div class="skill-home-solid clearfix">
                                        <div class="col-md-4">
                                            <div class="box-area" style="border: solid 1px #1891EC">
                                                <br>
                                                <p>Сравнение с Эталоном/передовыми практиками</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="box-area" style="border: solid 1px #1891EC">
                                                <br>
                                                <p style="font-size: 16px">План трансформации (системы в целом или
                                                    её отдельных блоков)
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="box-area" style="border: solid 1px #1891EC">
                                                 <p style="font-size: 16px">Разработка внутренних регламентных документов а так же сопровождение внедрения
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

{#                            </div>#}
		                </div>
		            </div>
                </div>
		</div>

        <div class="row">
                <div class="skill-home">
                    <div class="col-md-12 text-center">
                        <span class="icons c3" style="border: solid 2px #1891EC"><i class="fa fa-credit-card"></i></span>
                        <h3 style="font-size: 180%">Помощь в выстраивании отношений с банками</h3>
                        <h4>Независимый от банков консалтинг по банковским продуктам - транзакционные продукты, продукты
                            финансового рынка, хеджирование, кредитные продукты
                        </h4>
                        <div class="row">
                            <div class="skill-home-solid clearfix">
                                <div class="col-md-4">
                                    <div class="box-area" style="border: solid 1px #1891EC">
                                        <p>Соответствие продукта потребностям компании</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="box-area" style="border: solid 1px #1891EC">
                                        <p style="font-size: 16px">Структура и параметры продукта
                                        </p>
                                        <br>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="box-area" style="border: solid 1px #1891EC">
                                         <p style="font-size: 16px">Ценовые условия</p>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
		</div>

        <div class="row">
                <div class="skill-home">
                    <div class="col-md-12 text-center">
                    <span class="icons c2" style="border: solid 2px #1891EC"><i class="fa fa-users"></i></span>
                    <h3 style="font-size: 180%">Обучение персонала</h3>
                        <h3>Проведение профессиональных тренингов по темам :</h3>
                            <div class="row">
                                <div class="skill-home-solid clearfix">
                                    <div class="col-md-4">
                                        <div class="box-area" style="border: solid 1px #1891EC">
                                            <p>Управление денежными потоками и ликвидностью</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="box-area" style="border: solid 1px #1891EC">
                                            <p style="font-size: 16px">Управление оборотным капиталом
                                            </p>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="box-area" style="border: solid 1px #1891EC">
                                             <p style="font-size: 16px">Физический и виртуальный пулинг</p>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="skill-home-solid clearfix">
                                    <div class="col-md-4">
                                        <div class="box-area" style="border: solid 1px #1891EC">
                                            <p>Транзакционные банковские продукты</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="box-area" style="border: solid 1px #1891EC">
                                            <p style="font-size: 16px">Продукты финансового рынка</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="box-area" style="border: solid 1px #1891EC">
                                             <p style="font-size: 16px">Хеджирование</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
		</div>

        <!-- End Service Blocks -->

    </div>
    </section>

{% endblock %}