{% extends 'base.html' %}

{% block content %}
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="pageTitle">{{ gettext('Услуги') }}</h2>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container content">
            <!-- Service Blocks -->

            <div class="row" style="margin-bottom: -1%; margin-left: -1%; margin-right: 0">
                <div class="col-md-12">
                    <div class="about-logo">
                        <h3 style="text-align: center">{{ gettext('Наши') }}<span
                                class="color"> {{ gettext('услуги') }}</span></h3>
                        <p style="font-size: 16px; text-align: justify">{{ gettext('Мы помогаем компаниям построить современное казначейство, т.е. систему управления денежными потоками, финансовыми рисками и оборотным капиталом, эффективно использующую финансовый и человеческий капитал, с учётом специфики компании и на основе лучших международных и российских практик') }}.</p>
                    </div>
                </div>
            </div>

            <!-- Services Blocks -->
            {% for group in groups %}
                <div class="row" style="margin-left: -4%; margin-right: -4%">
                    <div class="skill-home">
                        <div class="skill-home-solid clearfix">
                            <div class="col-md-12 text-center">
                            <span class="icons c1" style="border: solid 2px #1891EC">
                                <i class="icon-info-blocks material-icons" style="font-size: 40px">{{ group.icon }}</i>
                            </span>
                                {#                            <div class="box-area" style="margin-left: 0; margin-right: 0">#}
                                <h3 style="font-size: 180%; padding-left: 0.5%; padding-right: 0.5%">{{ group.title }}</h3>
                                <div class="row" style="margin-left: -1%; margin-right: -1%">
                                    <div class="skill-home-solid clearfix">
                                        {% for service in group.services %}
                                            <div class="col-sm-12 col-md-4"
                                                 style="padding-left: 0.5%; padding-right: 0.5%; height: 391px">
                                                <div class="box-area" style="border: solid 1px #1891EC; text-align: justify; height: 391px">
                                                    {% if service.title %}
                                                        <h5><b>{{ service.title }}</b></h5>
                                                    {% endif %}
                                                    {{ service.annotation |safe }}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!-- End Service Blocks -->
        </div>
    </section>

{% endblock %}